:host{
    @apply flex justify-center items-center
}
.buttonContainer{
    @apply  w-[12rem] h-[3rem];
    
}

@keyframes clickButton {
    0%{
       transform: scale(1)
     
    }
    50%{
        transform: scale(.88)
      
    }
    100%{
        
        transform: scale(1)
    }

}

.button{
    @apply bg-white shadow-lg shadow-gray-600 text-black border border-[rgba(0,0,0,0.24)] rounded-[1rem] w-[100%] h-[3rem] flex items-center justify-center text-center;

    p{
        @apply text-[13pt] font-medium;
    }

    &:hover{
        @apply bg-[#141414] text-white transition-all select-none
    }
}

.buttonAnimation{

    animation: clickButton 0.3s;
}